@use 'utilities/utilities.scss' as utilities;

:host {
  width: 100%;
  height: auto;
}

.ui-search {
  width: 100%;
  height: auto;

  svg {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    path {
      stroke: var(--gray-500);
    }
  }
}
