@use 'utilities/utilities.scss' as utilities;
@use 'base/breakpoints' as breakpoints;

.ui-pagination {
  gap: 16px;
  width: 100%;
  height: auto;
  padding: 20px 24px;
  border-top: 1px solid var(--gray-200);
  @include utilities.flexbox-param(flex, center, space-between);

  @include breakpoints.small {
    gap: 12px;
    align-items: center;
    flex-direction: column;
  }
}

.ui-pagination__info {
  margin-top: 0;
  margin-bottom: 0;
  @include utilities.font-details(14px, 20px, 600, var(--gray-700));
}

.ui-pagination__controls {
  gap: 16px;
  align-items: center;
  @include utilities.flexbox-param(flex, center, center);
}