<div class="user-skeleton">
  <div class="user-skeleton__header">
    <div class="user-skeleton__item | skeleton"></div>
  </div>
  <div class="user-skeleton__container">
    <div class="user-skeleton__body">
      <!-- @for (row of skeletonRows; track row) {
        <div class="user-skeleton__row">
          @for (item of skeletonItems; track item) {
            <div class="user-skeleton__item | skeleton"></div>
          }
        </div>
      } -->

      @for (item of skeletonItems; track item) {
      <div class="user-skeleton__item | skeleton"></div>
      }
    </div>
  </div>
  <div class="user-skeleton__pagination">
    <div class="user-skeleton__item | skeleton"></div>
    <div class="user-skeleton__item | skeleton"></div>
  </div>
</div>