<div class="user-list">
  <!-- Search filter -->
  <div class="user-list__header">
    <div class="user-list__search">
      <app-ui-search
        [placeholder]="'Search by name or email'"
        (searchChange)="onSearchChange($event)"
      />
    </div>
    <div class="user-list__description">
      @if (paginatedUsers$ | async; as paginatedUsers) {
        <div class="user-list__badge">
          {{ paginatedUsers.length }} results
        </div>
      }
    </div>
  </div>

  <div class="user-list__body">
    <!-- Users table -->
    @if (paginatedUsers$ | async; as paginatedUsers) {
      @if (paginatedUsers.length > 0) {
        <app-user-table
          [users]="paginatedUsers"
          (userSelected)="onUserSelected($event)"
        />

        <!-- Pagination -->
        @if (paginationInfo$ | async; as paginationInfo) {
          @if (paginationInfo.totalPages > 1) {
            <div class="user-list__pagination">
              <app-ui-paginator
                [paginationInfo]="paginationInfo"
                (previousPage)="onPreviousPage()"
                (nextPage)="onNextPage()"
              />
            </div>
          }
        }
      } @else {
        <div class="user-list__empty">
          <app-ui-empty
            [title]="'No users found'"
            [description]="'Try to search for a different name or email'"
            [primaryButtonText]="'Clear search'"
            (primaryButtonEvent)="onClearSearch()"
          />
        </div>
      }
    }
  </div>
</div>

@if (selectedUser$ | async; as selectedUser) {
  <app-user-detail-modal
    [user]="selectedUser"
    (closeModal)="onCloseModal()"
  />
}