@if (users.length > 0) {
  <div class="user-table">
    <table class="user-table__table">
      <thead class="user-table__header">
        <tr>
          <th class="user-table__top">Name</th>
          <th class="user-table__top">Email</th>
          <th class="user-table__top">Phone</th>
          <th class="user-table__top">Company</th>
          <th class="user-table__top">Action</th>
        </tr>
      </thead>
      <tbody class="user-table__body">
        @for (user of users; track user.id) {
          <tr class="user-table__row">
            <td class="user-table__item">{{ user.name }}</td>
            <td class="user-table__item">{{ user.email }}</td>
            <td class="user-table__item">{{ user.phone }}</td>
            <td class="user-table__item">{{ user.company.name }}</td>
            <td class="user-table__item user-table__action" >
              <app-ui-button

                [variant]="'secondary'"
                (click)="onUserSelected(user)"
              >Details</app-ui-button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}