// Utilities

@mixin font-details($size, $line-h, $weight, $color) {
  font-size: $size;
  line-height: $line-h;
  font-weight: $weight;
  color: $color;
}

@mixin flexbox-param($display, $align, $justify) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

@mixin truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}